{% extends 'base.html' %}
{% block content %}

<div class="formbold-main-wrapper">

    <div class="formbold-form-wrapper">

      <form method="POST" id="form" class="form" action="">
        {% csrf_token %}

        <div class="formbold-mb-5">
          <label for="text" class="formbold-form-label" required> Username </label>
          <input type="username"name="username"id="username"placeholder="Username"class="formbold-form-input"/>
        </div>
  
        <div class="formbold-mb-5">
          <label for="password" class="formbold-form-label" required> Password </label>
          <input type="password" name="password" id="password" placeholder="Enter your password" class="formbold-form-input"/>
        </div>
  
        <div>
          <button type="submit" class="formbold-btn">Enter</button>
        </div>

      </form>
      {% if messages %}
        {% for message in messages %}
          <p style="color: red; margin: 5px;" {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
        {% endfor %}
      {% endif %}
      <a href="create">Create an account</a>
    </div>
  </div>
{% endblock%}
